# Ensure only custom code is contributed.

libraries/*
modules/*
!modules/custom
tests/behat/vendor
themes/*
!themes/custom



# Prevent miscellaneous/system files.

.DS_Store

# Vagrant
.vagrant/
docroot/
Vagrantfile.bb
